{% extends 'base.html' %}
{% load get_values %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
    <style>
    .asc:after {
        content: '\25B2';
    }

    .desc:after {
        content: '\25BC';
    }
    #gallery-container {
      position: relative;
    }

    .gallery-card {
      display: none;
      width: 100%;
      color:black;
    }

    .gallery-card.active {
      display: block;
    }

    #canvas {
      /* Style your canvas here */
      background-color: #f0f0f0;
      padding: 20px;
      border: 1px solid #ccc;
    }
    </style>
    <div class="tabs is-centered is-toggle is-toggle-round">
        <ul>
            <li class="tab is-active" onclick="openTab(event,'detail')">
                <a>Details</a>
            </li>
            <li class="tab" onclick="openTab(event,'all-in-one')">
                <a>All-in-one</a>
            </li>
        </ul>
    </div>
    <div class='content-tab' id='detail'>
        <div class="axis-selection d-flex container justify-content-center">
            <div class='w-25'>
                <label>X-Axis</label>
                <select class="form-control" id="graph_xaxis" onchange="graphX(this)">
                    <option value="epochs">epochs</option>
                </select>
            </div>
            <div class="mx-5 w-25">
                <label>Y-Axis</label>
                <select class="form-control" id="graph_yaxis" onchange="graphY(this)"></select>
            </div>
        </div>
        <div class="d-flex m-5 w-auto" style=" overflow-x: auto; ">
            <div class='d-flex'>
                {% for run in runs %}
                    <div class='card  m-4'
                         id='{{ run.comparison_id }}'
                         style='width:max-content;
                                min-width:20vw;
                                max-width: 50vw'>
                        <div class='card-header d-flex justify-content-between align-items-center'>
                            <a href='{{ run.link }}' class='text-bold'>{{ run.name }}</a>
                            <div class='d-flex align-items-center'>
                                <span class='tag is-light mx-2 is-info'>{{ run.run_type }}</span>
                                <select class='star-rating mx-2'
                                        data-type='{{ run.run_type }}'
                                        data-id="{{ run.id }}">
                                    <option value="0"></option>
                                    {% for i in "12345"|make_list %}
                                        <option value='{{ i }}'
                                                {% if run.rating == forloop.counter %}selected{% endif %}></option>
                                    {% endfor %}
                                </select>
                                <button onclick="removeComparisonFromView(this)"
                                        class="bg-danger button mx-2 p-3"
                                        data-id="{{ run.comparison_id }}"
                                        data-tooltip='Aus Vergleich ausschliesen'>
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div class='card-body'>
                            <div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Device</p>
                                    <p>{{ run.device }}</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Size</p>
                                    <p>{{ run.size|intcomma }} Parameters</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Memory usage</p>
                                    <p>{{ run.memory_usage|intcomma }} Byte</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Size on disk</p>
                                    <p>{{ run.size_on_disk|intcomma }} Bytes</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Average power consumption</p>
                                    <p>{{ run.power_consumption|floatformat:2 }} W</p>
                                </div>
                                <!-- Pruning properties -->
                                {% if run.pruning_method %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.pruning_method.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Pruning method</p>
                                        <p>{{ run.pruning_method.instance_type }}</p>
                                    </div>
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.pruning_schedule.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Pruning schedule</p>
                                        <p>{{ run.pruning_schedule.instance_type }}</p>
                                    </div>
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.pruning_policy.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Pruning policy</p>
                                        <p>{{ run.pruning_policy.instance_type }}</p>
                                    </div>
                                {% else %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'>
                                        <p class='my-2 text-bold text-center w-100'>No pruning</p>
                                    </div>
                                {% endif %}
                                {% if run.optimizer %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.optimizer.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Optimizer</p>
                                        <p>{{ run.optimizer.instance_type }}</p>
                                    </div>
                                {% endif %}
                                {% if run.hyperparameters %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                        <div class="d-flex flex-wrap">
                                            {% for item in run.hyperparameters %}
                                                <div class="col-4">
                                                    <strong>{{ item }}</strong>: {% get_attribute_tag hp item %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div id='graph_container_{{ run.run_type }}_{{ run.comparison_id }}'>
                                <h5 class='mt-4 text-center'>Graph</h5>
                                <canvas class='h-100 w-100'
                                        style="min-height: 40vh;
                                               max-height:50vh"
                                        id='canvas_{{ run.run_type }}_{{ run.comparison_id }}'
                                        width="400"
                                        height="400"></canvas>
                            </div>
                        </div>
                        <div class='card-footer has-background-white-ter d-block'>
                            {{ run.description }}
                            {% if run.run_type == 'tensorflow' %}
                                <hr style='background:lightgray'>
                                <form action=""
                                      class='align-items-center form-row inferenceform'
                                      data-id='{{ run.comparison_id }}'>
                                    Run inference on
                                    <select class='select select2 w-25'>
                                        {% for worker in gpus %}
                                            <optgroup label='{{ worker.0 }}'>
                                                {% for devices in worker.1 %}<option value='{{ devices.0 }}'>{{ devices.1 }}</option>{% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                    with batch size
                                    <input type='number'
                                           name='batch_size'
                                           value='1'
                                           class='m-3 form-control w-25'>
                                    <input type='submit' class='btn btn-primary' value="Starten">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='content-tab' id='all-in-one' style="display:none">
        <div class="axis-selection d-flex container justify-content-center">
            <div class='w-25'>
                <label>X-Axis</label>
                <select class="form-control"
                        id="graph_xaxis_all_plot"
                        onchange="allGraphX(this)">
                    <option value="epochs">epochs</option>
                </select>
            </div>
            <div class="mx-5 w-25">
                <label>Y-Axis</label>
                <select class="form-control"
                        id="graph_yaxis_all_plot"
                        onchange="allGraphY(this)"></select>
            </div>
        </div>
        <div class="d-flex mt-5 w-auto" style=" overflow-x: auto; ">
            <div class='d-flex justify-content-center w-100'>
                <button class='button rounded-circle mx-0 my-auto'
                        style='width:50px;
                               height:50px'
                        onclick="prevCard()">
                    <i class='fa fa-arrow-left'></i>
                </button>
                {% for run in runs %}
                    <div class='card  mx-4 my-0 gallery-card'
                         id='{{ run.comparison_id }}_overview'
                         style='width:max-content;
                                min-width:20vw;
                                max-width: 50vw'>
                        <div class='card-header d-flex justify-content-between align-items-center'>
                            <a href='{{ run.link }}' class='text-bold'>{{ run.name }}</a>
                            <div class='d-flex align-items-center'>
                                <span class='tag is-light mx-2 is-info'>{{ run.run_type }}</span>
                                <select class='star-rating mx-2'
                                        data-type='{{ run.run_type }}'
                                        data-id="{{ run.id }}">
                                    <option value="0"></option>
                                    {% for i in "12345"|make_list %}
                                        <option value='{{ i }}'
                                                {% if run.rating == forloop.counter %}selected{% endif %}></option>
                                    {% endfor %}
                                </select>
                                <button onclick="removeComparisonFromView(this)"
                                        class="bg-danger button mx-2 p-3"
                                        data-id="{{ run.comparison_id }}"
                                        data-tooltip='Aus Vergleich ausschliesen'>
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div class='card-body'>
                            <div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Device</p>
                                    <p>{{ run.device }}</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Size</p>
                                    <p>{{ run.size|intcomma }} Parameters</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Memory usage</p>
                                    <p>{{ run.memory_usage|intcomma }} Byte</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Size on disk</p>
                                    <p>{{ run.size_on_disk|intcomma }} Bytes</p>
                                </div>
                                <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                    <p class='my-2 text-bold'>Average power consumption</p>
                                    <p>{{ run.power_consumption|floatformat:2 }} W</p>
                                </div>
                                <!-- Pruning properties -->
                                {% if run.pruning_method %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.pruning_method.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Pruning method</p>
                                        <p>{{ run.pruning_method.instance_type }}</p>
                                    </div>
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.pruning_schedule.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Pruning schedule</p>
                                        <p>{{ run.pruning_schedule.instance_type }}</p>
                                    </div>
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.pruning_policy.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Pruning policy</p>
                                        <p>{{ run.pruning_policy.instance_type }}</p>
                                    </div>
                                {% else %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'>
                                        <p class='my-2 text-bold text-center w-100'>No pruning</p>
                                    </div>
                                {% endif %}
                                {% if run.optimizer %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between has-tooltip-multiline px-3'
                                         data-tooltip='{{ run.optimizer.additional_arguments }}'>
                                        <p class='my-2 text-bold'>Optimizer</p>
                                        <p>{{ run.optimizer.instance_type }}</p>
                                    </div>
                                {% endif %}
                                {% if run.hyperparameters %}
                                    <div class='align-items-center border-bottom d-flex justify-content-between px-3'>
                                        <div class="d-flex flex-wrap">
                                            {% for item in run.hyperparameters %}
                                                <div class="col-4">
                                                    <strong>{{ item }}</strong>: {% get_attribute_tag hp item %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class='card-footer has-background-white-ter'>{{ run.description }}</div>
                    </div>
                {% endfor %}
                <button class='button rounded-circle mx-0 my-auto'
                        style='width:50px;
                               height:50px'
                        onclick="nextCard()">
                    <i class='fa fa-arrow-right'></i>
                </button>
            </div>
        </div>
        <div id="all_plot" class='d-flex justify-content-center mx-6 px-6 mb-5'>
            <button class='btn btn-primary position-absolute'
                    style='right: 1%'
                    onclick='resetAllPlot()'>Reset Zoom</button>
            <canvas class='h-100 w-100 shadow has-background-white-ter p-5 mx-5'
                    style="min-height: 60vh;
                           max-height:60vh"
                    id='canvas_all_plot'
                    width="400"
                    height="400"></canvas>
        </div>
    </div>
    <form action=""
          class='card p-5 m-5 align-items-center form-row allinferenceform'>
        Run all inferences on
        <select class='select select2 w-25' style='max-width:25%'>
            {% for worker in gpus %}
                <optgroup label='{{ worker.0 }}'>
                    {% for devices in worker.1 %}<option value='{{ devices.0 }}'>{{ devices.1 }}</option>{% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        with batch size
        <input type='number'
               name='batch_size'
               value='1'
               class='m-3 form-control w-25'>
        <input type='submit' class='btn btn-primary' value="Starten">
    </form>
    <div id="bar_chart"
         class='mb-auto pb-4 d-flex justify-content-center mx-6 px-6 mb-5'>
        <canvas class='h-100 w-100 shadow has-background-white-ter p-5 mx-5'
                style="min-height: 60vh;
                       max-height:60vh"
                id='canvas_bar_chart'
                width="400"
                height="400"></canvas>
    </div>
    <div class='mx-5 px-5 text-right'>
        <div id='table' class='has-background-white my-5 overflow-auto rounded-lg'></div>
        <button class='btn btn-primary' id="generate-latex-btn">Generate LaTeX</button>
        <div class='text-left'>
            <textarea id='latex-code-container' class='w-100 my-2' style='height: 0px;'></textarea>
        </div>
    </div>
    {% if session %}
        <div class='container my-3'>{% crispy session %}</div>
    {% endif %}
    {% if add_form %}
        <div class='container my-3'>{% crispy add_form %}</div>
    {% endif %}
    <script>
        const COMPARISONS = {
            {% for run in runs %}'{{ run.comparison_id }}': {
                "run_type": '{{ run.run_type }}',
                "run_id": '{{ run.id }}',
                "name": '{{ run.name }}',
                "dataset":'{{run.dataset}}',
                "device":'{{run.device}}',
                "model_size":'{{run.size}}',
                "loss":'{{run.loss}}',
                "val_loss":'{{run.val_loss}}',
                "sparsity":'{{run.sparsity}}',
                "size_on_disk": {{run.size_on_disk}},
                {% for metrics in  run.prediction_metrics.first.metrics %}
                    {% for metric in metrics.metrics %}
                        "{{metric}}":{% get_attribute_tag metrics.metrics metric %},
                    {% endfor %}
                {% endfor %}
            },{% endfor %}
        };
        let allMetrics = {};
        let xLabels = [];
        let yLabels = [];
        let yLabelsAllPlot = [];
        let xLabelsAllPlot = [];

        const tensorflowMetricAPI = "{% url 'api:tensorflow:metrics' 0 %}";
        const autokerasMetricAPI = "{% url 'api:autokeras:get_metrics_for_run' 0 %}";
        const autokerasTrialMetricAPI = "{% url 'api:autokeras:get_metrics' 0 '-1'%}";
        let currentCardIndex = 0;
        let cards = [];
        let allPlots = undefined;

        async function runInference(event, id){
            event.preventDefault();
            var select = event.target.querySelector("select");
            var formData = {
                run_id: id,
                gpu: select.value,
                gpu_name: select.options[select.selectedIndex].text.split(" (")[1],
                batch_size: event.target.querySelector("input[name='batch_size']").value
            };
            console.log(formData);
            const response = await fetch('{% url "api:inference:run_from_id" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Token ${token}`,
                    },
                    body: JSON.stringify(formData),
                });
            const result = await response.json();
            if(result.success) {
                toastr.success("inference gestartet");
            }
            else {
                toastr.error("Fehler");
            }
        }

        async function runAllInference(event){
            event.preventDefault();
            for(const id of Object.keys(COMPARISONS)) {
                var select = event.target.querySelector("select");
                var formData = {
                    run_id: id,
                    gpu: select.value,
                    gpu_name: select.options[select.selectedIndex].text.split(" (")[1],
                    batch_size: event.target.querySelector("input[name='batch_size']").value
                };
                console.log(formData);
                const response = await fetch('{% url "api:inference:run_from_id" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Token ${token}`,
                        },
                        body: JSON.stringify(formData),
                    });
                const result = await response.json();
                if(result.success) {
                    toastr.success("inference gestartet");
                }
                else {
                    toastr.error("Fehler");
                }
            }
        }

        document.addEventListener("submit", function(event) {
          if (event.target && event.target.classList.contains("inferenceform")) {
              event.preventDefault();
              runInference(event, event.target.dataset.id);
          }
          else if (event.target && event.target.classList.contains("allinferenceform")) {
              event.preventDefault();
              runAllInference(event);
          }
        });

            function showCard(index) {
              cards.forEach((card, i) => {
                card.classList.toggle('active', i === index);
              });
            }

            function nextCard() {
              currentCardIndex = (currentCardIndex + 1) % cards.length;
              showCard(currentCardIndex);
            }

            function prevCard() {
              currentCardIndex = (currentCardIndex - 1 + cards.length) % cards.length;
              showCard(currentCardIndex);
            }

        function updateTable(label, run, data) {
            let content = $('#table thead>tr')[0].innerHTML;
            var dataRows = $('#table tbody>tr');
            var length = dataRows.length;
            if (content.indexOf(label) < 0) {
                content += '<th class="text-center"><input type="checkbox" class="column-checkbox" data-column="' + label + '">' + label + '</th>';

                for (var i = 0; i< length; i++) {
                    dataRows[i].innerHTML += '<td>-</td>';
                }
            }

            for (var i = 0; i< length; i++) {
                if (dataRows[i].innerHTML.indexOf(run) > 0) {
                    console.log(run,data);
                    var cells = dataRows[i].querySelectorAll('td');
                    cells[cells.length - 1].innerHTML = '<td>' + data + '</td>';
                }
            }
            $('#table thead')[0].innerHTML = content;
        }

        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById('generate-latex-btn').addEventListener('click', getLatexCode);
            cards = document.querySelectorAll('.gallery-card');
            showCard(0);

            var comparisonRuns = Object.keys(COMPARISONS);
            var barData = [];
            for(const run of comparisonRuns) {
                for(var barName in COMPARISONS[run]) {
                    if (barName === 'run_type' || barName === 'run_id' || barName === 'name') {
                        continue;
                    }
                    if (!barData.includes(barName)) {
                        barData.push(barName);
                    }
                }
            }
            var labels = comparisonRuns.map(function(key) {
                return COMPARISONS[key]['name'];
            });
            var datasets = [];

            for (var barName of barData) {
                var data = [];
                for (var run of comparisonRuns) {
                    if(COMPARISONS[run][barName]) {
                        data.push(COMPARISONS[run][barName]);
                    } else {
                        data.push('-');
                    }
                }
                datasets.push({
                    label: barName,
                    data: data
                });
            }

            // Generate the table and append it to a container element
            var tableContainer = document.getElementById('table');
            tableContainer.innerHTML = generateTable({labels: labels, datasets: datasets});
            
            var ctx = document.getElementById('canvas_bar_chart').getContext('2d');
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    scales: {
                        x: {
                            stacked: true
                        },
                        y: {
                            stacked: true
                        }
                    },
                    plugins: {
                        legend: {
                            onClick: function (event, legendItem) {
                                var index = legendItem.datasetIndex;
                                var chart = this.chart;
                                var meta = chart.getDatasetMeta(index);

                                // Toggle visibility of the dataset
                                meta.hidden = meta.hidden === null ? !chart.data.datasets[index].hidden : null;
                                chart.update();
                            }
                        }
                    }
                }
            });

            let allCanvas = document.getElementById("canvas_all_plot").getContext('2d');
                allPlots = new Chart(allCanvas, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: []
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom',
                                title: {
                                    display: true,
                                    text: 'Epochs' // Set the dynamic X-axis title
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Loss' // Set the dynamic Y-axis title
                                }
                            }
                        },
                        interaction: {
                            mode: 'index',
                            intersect: false,
                        },
                        plugins: {
                            colors: {
                                forceOverride: true
                            },
                            tooltip: {
                                enabled: true,
                                position: 'nearest',
                            },
                            zoom: {
                                enabled: true,
                                mode: 'y',
                                zoom: {
                                    wheel: {
                                        enabled: true
                                    },
                                    pinch: {
                                        enabled: true
                                    },
                                    drag: {
                                        enabled: true,
                                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        borderWidth: 1,
                                        modifierKey: 'ctrl'
                                    },
                                },
                                pan:{
                                    enabled: true,
                                    mode: 'xy'
                                },
                            },
                            legend: {
                                position: 'top',
                                //onClick: selectDataset
                                onClick: function (event, legendItem) {
                                    var index = legendItem.datasetIndex;
                                    var chart = this.chart;
                                    var meta = chart.getDatasetMeta(index);

                                    // Toggle visibility of the dataset
                                    meta.hidden = meta.hidden === null ? !chart.data.datasets[index].hidden : null;
                                    chart.update();
                                    selectDataset(event, legendItem);
                                }
                            },
                        }
                    }
                });
            
            var index = 0;
            for (const run of Object.keys(COMPARISONS)) {
                let canvas = document.getElementById("canvas_" + COMPARISONS[run].run_type + "_" + run).getContext('2d');
                let graphChart = new Chart(canvas, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: []
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom',
                                title: {
                                    display: true,
                                    text: 'Epochs' // Set the dynamic X-axis title
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Loss' // Set the dynamic Y-axis title
                                }
                            }
                        },
                        interaction: {
                            mode: 'index',
                            intersect: false,
                        },
                        plugins: {
                            colors: {
                                forceOverride: true
                            },
                            tooltip: {
                                enabled: true,
                                position: 'nearest',
                            }
                        }
                    }
                });
                COMPARISONS[run]['canvas'] = graphChart;
                if (COMPARISONS[run].run_type === 'tensorflow') {
                    fetch(tensorflowMetricAPI.replace(0, COMPARISONS[run].run_id), {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Token ${token}`
                        }
                    }).then(function(response) {
                        response.json().then(function(data) {
                            run_metrics = data;
                            let metrics = [];
                            for (metric in run_metrics[0].metrics) {
                                metrics.push(metric);
                                generateOption(metric, metric, $('#graph_xaxis'), xLabels);
                                generateOption(metric, metric, $('#graph_yaxis'), yLabels);
                                generateOption(metric, metric, $('#graph_yaxis_all_plot'), yLabelsAllPlot);
                                generateOption(metric, metric, $('#graph_xaxis_all_plot'), xLabelsAllPlot);
                            }
                            if ("flops" in run_metrics[0].metrics) {
                                COMPARISONS[run]['flops'] = run_metrics[0].metrics['flops'];
                                updateTable("flops", run, run_metrics[0].metrics['flops']);
                            }
                            COMPARISONS[run]['metrics'] = data;
                            build_graph(run_metrics, graphChart);
                            let index = Object.keys(COMPARISONS).indexOf(run);
                            allMetrics[index] = data;
                            addDatasetToPlot(data, allPlots, COMPARISONS[run].name, index);
                        });
                    });
                }
                else if (COMPARISONS[run].run_type === 'autokeras') {
                    fetch(autokerasMetricAPI.replace(0, COMPARISONS[run].run_id)).then(function(response) {
                        response.json().then(function(data) {
                            run_metrics = data;
                            let metrics = [];
                            for (metric in run_metrics[0].metrics) {
                                metrics.push(metric);
                                generateOption(metric, metric, $('#graph_xaxis'), xLabels);
                                generateOption(metric, metric, $('#graph_yaxis'), yLabels);
                                generateOption(metric, metric, $('#graph_yaxis_all_plot'), yLabelsAllPlot);
                                generateOption(metric, metric, $('#graph_xaxis_all_plot'), xLabelsAllPlot);
                            }
                            COMPARISONS[run]['metrics'] = data;
                            build_graph(run_metrics, graphChart);
                            let index = Object.keys(COMPARISONS).indexOf(run);
                            allMetrics[index] = data;
                            addDatasetToPlot(data, allPlots, COMPARISONS[run].name, index);
                        });
                    });
                }
                else if (COMPARISONS[run].run_type === 'autokeras_trial') {
                    [runID, trialID] = run.split('_');
                    fetch(autokerasTrialMetricAPI.replace(0, runID).replace('-1',trialID), {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Token ${token}`
                        }
                    }).then(function(response) {
                        response.json().then(function(data) {
                            run_metrics = data;
                            let metrics = [];
                            for (metric in run_metrics[0].metrics) {
                                metrics.push(metric);
                                generateOption(metric, metric, $('#graph_xaxis'), xLabels);
                                generateOption(metric, metric, $('#graph_yaxis'), yLabels);
                                generateOption(metric, metric, $('#graph_yaxis_all_plot'), yLabelsAllPlot);
                                generateOption(metric, metric, $('#graph_xaxis_all_plot'), xLabelsAllPlot);
                            }
                            COMPARISONS[run]['metrics'] = data;
                            build_graph(run_metrics, graphChart);
                            let index = Object.keys(COMPARISONS).indexOf(run);
                            allMetrics[index] = data;
                            addDatasetToPlot(data, allPlots, COMPARISONS[run].name, index);
                        });
                    });
                }
            }
        });


        const selectDataset = function (e, legendItem, legend) {
            const index = legendItem.datasetIndex;
            showCard(allPlots.data.datasets[index].cardIndex);
        };

        function generateOption(value, text, parent, existingLabels) {
            if (!existingLabels.includes(value)) {
                let optionY = document.createElement('option');
                optionY.value = value;
                optionY.text = text;
                parent.append(optionY);
                existingLabels.push(value);
            }
        }

        function getLatexCode(){
            var selectedRows = [];
            var selectedColumns = [];

            // Get selected rows
            var rowCheckboxes = document.querySelectorAll('.row-checkbox:checked');
            rowCheckboxes.forEach(function(checkbox) {
              selectedRows.push(checkbox.dataset.row);
            });
            var colCheckboxes = document.querySelectorAll('.column-checkbox:checked');
            colCheckboxes.forEach(function(checkbox) {
              selectedColumns.push(checkbox.dataset.column);
            });

            let latexCode = "\\begin{table}[h]\n\t\\centering\n\t\\begin{tabular}{|p{2cm}|" + "p{2cm}|".repeat(selectedColumns.length) + "}\n\t\t\\hline\n";

            // Adding column headers
            latexCode += "\t\t & \\textbf{" + selectedColumns.join("} & \\textbf{").replaceAll("_", " ") + "} \\\\\n\t\t\\hline\n";

            // Adding row data
            selectedRows.forEach(rowLabel => {
                latexCode += "\t\t";
                latexCode += COMPARISONS[rowLabel]['name'].replaceAll("_", "\_");
                selectedColumns.forEach(columnLabel => {
                    const value = COMPARISONS[rowLabel][columnLabel];
                    latexCode += " & " + value;
                });
                latexCode += " \\\\\n\t\t\\hline\n";
            });

            latexCode += "\t\\end{tabular}\n\t\\caption{ {{ comparison.description }} }\n\t \\label{tab:{{ comparison.name}}}\n\\end{table}";
            var codeContainer = document.getElementById('latex-code-container')
            codeContainer.innerHTML = latexCode;
            codeContainer.focus();
            codeContainer.select();
            codeContainer.style.height = (codeContainer.scrollHeight) + "px";
            document.execCommand('copy');
            codeContainer.setSelectionRange(0,0);
            toastr.info("Copied to clipboard");
        }

        function addDatasetToPlot(data, canvas, name, index) {
            var labels = [];
            let yaxis = $('#graph_yaxis_all_plot').val();
            let xaxis = $('#graph_xaxis_all_plot').val();
            canvas.data.datasets.push({cardIndex: index,label: name, data:dictToArray(data, yaxis, xaxis)});
            canvas.update();

            for (let epoch in data) {
                labels.push(epoch);
            }

            if (labels.length > canvas.data.labels.length) {
                canvas.data.labels = labels;
                canvas.update();
            }
        }

        function build_graph(run_metrics, graphChart) {
            var data = [];
            var labels = [];

            let yaxis = $('#graph_yaxis').val();
            let xaxis = $('#graph_xaxis').val();

            function updateChart() {
                graphChart.data.labels = [];
                graphChart.data.datasets = [{
                    data: dictToArray(run_metrics, yaxis, xaxis),
                    label: yaxis
                }];
                graphChart.update();
            }

            for (let epoch in run_metrics) {
                data.push(run_metrics[epoch].metrics[yaxis]);
                labels.push(epoch);
            }

            if (labels.length > graphChart.data.labels.length) {
                allEpochs = labels;
                graphChart.data.labels = labels;
            }
            updateChart();

        }

        function dictToArray(dict, key, xAxisMetric = 'epochs') {
            let array = [];
            for (let i in dict) {
                if ('current' in dict[i]) {
                    var label = '';
                    if (xAxisMetric == 'epochs') {
                        label = i.toString();
                    } else {
                        label = dict[i].metrics[xAxisMetric].toString();
                    }
                    array.push({
                        y: dict[i].metrics[key],
                        x: label
                    });
                }
                else if ('loss' in dict[i]) {
                    var label = '';
                    if (xAxisMetric == 'epochs') {
                        label = i.toString();
                    } else {
                        label = dict[i][xAxisMetric].toString();
                    }
                    array.push({
                        y: dict[i][key],
                        x: label
                    });

                }
            }
            return array;
        }

        function allGraphX(event) {
            let xaxis = $('#graph_xaxis_all_plot').val();
            let yaxis = $('#graph_yaxis_all_plot').val();
            allPlots.data.datasets.forEach(function(dataset) {
                dataset.data = dictToArray(allMetrics[dataset.cardIndex], yaxis, xaxis);
            });
            allPlots.options.scales.x.title.text = xaxis;
            allPlots.update();
        }

        function resetAllPlot() {
            fitAxesToData(allPlots);
        }

        function allGraphY(event) {
            let yaxis = $('#graph_yaxis_all_plot').val();
            allPlots.data.datasets.forEach(function(dataset) {
                dataset.data = dictToArray(allMetrics[dataset.cardIndex], yaxis, $('#graph_xaxis_all_plot').val());
            });
            allPlots.options.scales.y.title.text = yaxis;
            allPlots.update();
        }

        function graphX(event) {
            let xaxis = $('#graph_xaxis').val();
            let yaxis = $('#graph_yaxis').val();
            for (const runID in COMPARISONS) {
                chart = COMPARISONS[runID]['canvas'];
                if ('metrics' in COMPARISONS[runID]) {
                    chart.data.datasets.forEach(function(dataset) {
                        dataset.data = dictToArray(COMPARISONS[runID]['metrics'], yaxis, xaxis);
                    });

                    chart.options.scales.x.title.text = xaxis;
                    chart.update();
                }
            }
        }

        function graphY(event) {
            let yaxis = $('#graph_yaxis').val();
            for (const runID in COMPARISONS) {
                chart = COMPARISONS[runID]['canvas'];
                if ('metrics' in COMPARISONS[runID]) {
                    chart.data.datasets.forEach(function(dataset) {
                        dataset.data = dictToArray(COMPARISONS[runID]['metrics'], yaxis, $('#graph_xaxis').val());
                        dataset.label = yaxis;
                    });

                    chart.options.scales.y.title.text = yaxis;
                    chart.update();
                }
            }
        }

        function sortTable(colIndex) {
            var table = document.getElementById("table").querySelector('table');
            var rows = table.rows;
            var switching = true;
            var shouldSwitch = false;
            var i, x, y;
            var direction = "asc"; // Set the default sorting direction to ascending
            var switchcount = 0;

            // Check if the sorting direction needs to be reversed
            if (table.getAttribute("data-sort-dir") === "asc" && table.getAttribute("data-sort-col") === colIndex.toString()) {
                direction = "desc";
            }

            // Set the data-sort-dir and data-sort-col attributes on the table
            table.setAttribute("data-sort-dir", direction);
            table.setAttribute("data-sort-col", colIndex.toString());

            var headers = document.querySelectorAll('.sortable');
            headers.forEach(header => {
                header.classList.remove('asc', 'desc');
            });

            // Add sorting indicator to the clicked header
            var clickedHeader = document.querySelector('.sortable:nth-child(' + (colIndex + 1) + ')');
            clickedHeader.classList.add(direction);

            // Loop to sort the table rows
            while (switching) {
                switching = false;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[colIndex];
                    y = rows[i + 1].getElementsByTagName("td")[colIndex];
                    if (Number(x.innerHTML)) {
                        x = Number(x.innerHTML);
                        y = Number(y.innerHTML);
                    }
                    else {
                        x = x.innerText.toLowerCase();
                        y = y.innerText.toLowerCase();
                    }

                    // Check if the two rows should switch places
                    if (direction === "asc") {
                        if (x > y) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (direction === "desc") {
                        if (x < y) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    // If a switch has been marked, make the switch and mark that a switch has been done
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    // If no switching has been done AND the direction is ascending, set the direction to descending and run the while loop again
                    if (switchcount === 0 && direction === "asc") {
                        direction = "desc";
                        table.setAttribute("data-sort-dir", direction);
                        switching = true;
                    }
                }
            }
        }

        // Function to generate the table HTML
        function generateTable(data) {
          var tableHTML = '<table>';
          
          // Add table headers with checkboxes above columns
          tableHTML += '<thead><tr><th onclick="sortTable(0)" class="sortable"></th>'; // Empty cell for checkboxes above columns
          data.datasets.forEach(function(dataset, index) {
            tableHTML += '<th class="text-center sortable" onclick="sortTable(' + (index + 1) + ')"><input type="checkbox" class="column-checkbox" data-column="' + dataset.label + '">' + dataset.label + '</th>';
          });
          tableHTML += '</tr></thead>';
          
          // Add table body with checkboxes for rows and data values
          tableHTML += '<tbody>';
          data.labels.forEach(function(label, index) {
              tableHTML += '<tr id="table_' + Object.keys(COmPARISONS)[index] + '"><td><input type="checkbox" class="row-checkbox" data-row="' + Object.keys(COMPARISONS)[index] + '">' + label + '</td>'; // Checkbox for each row
              data.datasets.forEach(function(dataset) {
                if(index in dataset.data) {
                    tableHTML += '<td>' + dataset.data[index] + '</td>'; // Display data values
                } else {
                    tableHTML += "<td>-</td>";
                }
            });
            tableHTML += '</tr>';
          });
          tableHTML += '</tbody></table>';

          return tableHTML;
        }


        function removeComparisonFromView(element) {
            {% if comparison.id %}
            fetch("{% url 'api:comparisons:remove_run' comparison.id 'run_id' %}".replace('run_id' ,element.dataset.id),{
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Token ${token}`,
                    },
            }).then(function(response) {
                if (response.ok) {
                        document.getElementById(element.dataset.id).remove();
                        document.getElementById("table_" + element.dataset.id).remove();
                        COMPARISONS[element.dataset.id] = {};
                    toastr.success("Vergleich entfernt", "INFO");
                }
            });
            {% else %}
            document.getElementById(element.dataset.id).remove();
            COMPARISONS[element.dataset.id] = {};
            removeComparison(element);
            {% endif %}
        }
    </script>
{% endblock %}
