{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    {% if celery.training_task_id %}
    <div class="card">
        <div class="card-header justify-content-between">
            <strong>
                Trainiere <a href="{{run.link}}">{{ run.name }}</a>
            </strong>
            <div id="training-tags" class="d-flex is-align-items-center">

            </div>
            <div>
                <a data-tooltip='cancel this task' class="button is-danger" href="{% url 'dashboard:kill_celery_task' celery.training_task_id %}">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="training-progress-bar">
                <p id="import_job_state_text">
                    
                </p>
                <div class="progress">
                    <progress id="customer_import_progress" class="is-link progress progress-bar-animated progress-bar progress-bar-striped" role="progressbar" value="0" min="0" max="100"></progress>
                </div>
            </div>
            <div class='mt-3'>
                <a class='is-light button is-info' id='training_detail_link' href="Link zu run details">Details...</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card">
        <div class="card-body">
            Derzeit werden keine Netze trainiert.
        </div>
    </div>
    {% endif %}
    {% if registered_tasks %}
        <h2>Queued Tasks</h2>
        {% for task in registered_tasks %}
            <div class="card">
                <div class="card-header justify-content-between">
                    <strong>
                        <a href="{{task.link}}">{{ task.name }}</a>
                    </strong>
                    <div id="training-tags" class="d-flex is-align-items-center">

                    </div>
                    <div>
                        <a class="button is-danger" href="{% url 'dashboard:kill_celery_task' task.id %}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    
                    <div class='mt-3'>
                        <a class='is-light button is-info' id='training_detail_link' href="Link zu run details">Details...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% block javascript %}
    
        {% if celery.training_task_id %}
        <script>
            var progressUrl = '{% url "runs:training_progress" celery.training_task_id %}';  // django template usage
        </script>
        {% endif %}
        {{ block.super }}
    {% endblock javascript %}
</div>
{% endblock %}
