{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container pb-5">
    
    <div class="tabs is-centered is-toggle is-toggle-round">
        <ul>
            <li class="tab">
                <a href="{% url 'runs:new' %}">Tensorflow</a>
            </li>
            <li class="tab is-active">
                <a>Autokeras</a>
            </li>
        </ul>
    </div>
    {% if form %}
        <div id="tensorflow-tab" class="content-tab">
            {% crispy form  %}
        </div>
    {% endif %}
    </div>
{% endblock content %}

{% block javascript %}
    {{block.super}}
    <script src="{% static 'js/sigma.min.js' %}"></script>
    <script src="{% static 'js/sigma.plugins.dragnodes.js' %}"></script>
    <script src="{% static 'js/graphs.js' %}"></script>
    <script src="{% static 'js/pruning.js' %}"></script>
    <script>
        const fixedObjectiveOptions = [
            'loss',
            'val_loss',
            'metrics',
            'execution_time',
            'model_size'
        ];
        var callbackObjectiveOptions = [];
        var metricObjectiveOptions = new Map();

        $(document).ready(function() {
            handleKerasTunerChange($('#{{form.tuner.auto_id}}'));
            handleKerasBlockChange($('#{{form.layers.auto_id}}'));
            handleMetricChange($('#{{form.metrics.auto_id}}'));
            handleCallbackChange($('#{{form.callbacks.auto_id}}'));
            $('#div_id_network_template_name').addClass("d-none");

            $('#id_objective').autocomplete({
                source: fixedObjectiveOptions,
                minLength: 0,
                select: function(event, ui) {
                    $('#id_objective').val(ui.item.value);
                    return false;
                }
            }).focus(function() {
                $(this).autocomplete('search', $(this).val())
            });

            if ($('#id_objective').val() == 'metrics') {
                $('#metric_weights_arguments').removeClass("d-none");
            }
            
            $('#id_save_network_as_template').change(function() {
                if ($(this).prop('checked')) {
                    $('#div_id_network_template_name').removeClass("d-none");
                    $('#id_network_template_name').prop('required', true);
                } else {
                    $('#div_id_network_template_name').addClass("d-none");
                    $('#id_network_template_name').prop('required', false);
                }
            });

            nodes.clear();
            refreshGraph();

            {% if nodes and edges%}
                // load the nodes an dedegs into the graph
                edges = {{edges | safe}};
                nodes.clear();
                load_nodes = {{nodes | safe}};
                for(const node of load_nodes) {
                    nodes.set(node.id, node);
                }
                // we dont need this anymore.
                delete load_nodes;
                refreshGraph();
            {% endif %}
            {% if tuner_config %}
                // load the tuner values
                let existing_tuners = {{tuner_config | safe}};
                for (const argument of existing_tuners) {
                    document.getElementsByName('tuner_argument_' + argument.name)[0].value = argument.value
                }
                delete existing_tuners;
            {% endif %}

            {% if loss_config %}
                // load the loss values
                let existing_loss = {{loss_config | safe}};
                for (const argument of existing_loss) {
                    document.getElementsByName('loss_argument_' + argument.name)[0].value = argument.value
                }
                delete existing_loss;
            {% endif %}
            {% if metric_configs %}
                // load the metric values
                let existing_metrics = {{metric_configs | safe}};
                for (const metric of existing_metrics) {
                    for(const argument of metric['arguments']) {
                        let fields = document.getElementsByName('metric_argument_' + metric['id'] + "_" + argument.name);
                        if (fields[0]) {
                            fields[0].value = argument.value;
                        }
                    }
                }
                delete existing_metrics;
            {% endif %}
            {% if callbacks_configs %}
                // load the callback values
                let existing_callbacks = {{callbacks_configs | safe}};
                for (const callback of existing_callbacks) {
                    for(const argument of callback['arguments']) {
                        let fields = document.getElementsByName('callback_argument_' + callback['id'] + "_" + argument.name);
                        if (fields[0]) {
                            fields[0].value = argument.value;
                        }
                    }
                }
                delete existing_callbacks;
            {% endif %}

        }
        );
        const False = false;
        const True = true;
        const None = undefined;
        var kerasTunerOptions = [
        {% for kerasTuner in form.tuner.field.queryset %}
            {
                "id": {{ kerasTuner.id }},
                "name": "{{ kerasTuner.name }}",
                "jsonConfig": {{ kerasTuner.required_arguments|safe|default:"{}" }},
            },
        {% endfor %}
    ];
    var kerasBlocksOptions = [
        {% for kerasBlocks in form.layers.field.queryset %}
            {
                "id": {{ kerasBlocks.id }},
                "name": "{{ kerasBlocks.name }}",
                "jsonConfig": {{ kerasBlocks.required_arguments|safe|default:"{}" }},
            },
        {% endfor %}
    ];
    var metricOptions = [
        {% for metric in form.metrics.field.queryset %}
            {
                "id": {{ metric.id }},
                "name": "{{ metric.name }}",
                "jsonConfig": {{ metric.required_arguments|safe|default:"{}" }},
            },
        {% endfor %}
    ];
    var callbackOptions = [
        {% for callback in form.callbacks.field.queryset %}
            {
                "id": {{ callback.id }},
                "name": "{{ callback.name }}",
                "jsonConfig": {{ callback.required_arguments|safe|default:"{}" }},
                "metrics": {{ callback.registers_metrics|safe|default:"[]"}}
            },
        {% endfor %}
    ];

    var pruningMethodOptions = [
        {% for pruningMethod in form.pruning_method.field.queryset %}
            {
                "id": {{ pruningMethod.id }},
                "name": "{{ pruningMethod.name }}",
                "jsonConfig": {{ pruningMethod.required_arguments|safe|default:"{}" }},
            },
        {% endfor %}
    ];

    var pruningSchedulerOptions = [
        {% for pruningScheduler in form.pruning_scheduler.field.queryset %}
            {
                "id": {{ pruningScheduler.id }},
                "name": "{{ pruningScheduler.name }}",
                "jsonConfig": {{ pruningScheduler.required_arguments|safe|default:"{}" }},
            },
        {% endfor %}
    ];
    
    var pruningPolicyOptions = [
        {% for pruningPolicy in form.pruning_policy.field.queryset %}
            {
                "id": {{ pruningPolicy.id }},
                "name": "{{ pruningPolicy.name }}",
                "jsonConfig": {{ pruningPolicy.required_arguments|safe|default:"{}" }},
            },
        {% endfor %}
    ];

    </script>
    {% endblock javascript%}
