{% extends 'base.html' %}
{% load get_values %}
{% load crispy_forms_tags %}
{% load static %}
{% load  humanize %}
{% block content %}
    <div class="container justify-content-end py-3 d-flex">
        {% with "tensorflow:"|addstr:run.id as run_id %}
            {% if run_id in COMPARISON %}
                <div class='button is-success'>
                    <i class='fa fa-check mr-3'></i>
                    Bereits im Vergleich
                </div>
            {% else %}
                <button data-id='tensorflow:{{ run.id }}'
                        data-name='{{ run.network_config.name }}'
                        data-runtype='tensorflow'
                        data-link='{% url 'runs:details' run.id %}'
                        class='button'
                        onclick='addRunToComparison(this)'>Vergleichen</button>
            {% endif %}
        {% endwith %}
    </div>
    <!-- get a progressbar if this run is currently training -->
    <div class="container pb-1">
        <div class="card d-none" id='training_progress'>
            <div class="card-header justify-content-between">
                <strong>Trainingsfortschritt</strong>
                <div id="training-tags-" class="d-flex is-align-items-center"></div>
                <div>
                    <a data-tooltip='cancel this task'
                       class="button is-danger"
                       id='task_kill_link'
                       href="{% url 'dashboard:kill_celery_task' 0 %}">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="training-progress-bar">
                    <p id="import_job_state_text_"></p>
                    <div class="progress">
                        <progress id="task_progress_"
                                  class="is-link progress progress-bar-animated progress-bar progress-bar-striped"
                                  role="progressbar"
                                  value="0"
                                  min="0"
                                  max="100"></progress>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion_general">
            <div class="card">
                <div data-toggle="collapse"
                     data-target="#collapse_general"
                     class="card-header d-flex justify-content-between is-align-items-center">
                    <h5 class="my-2">General</h5>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div id="collapse_general"
                     class="collapse"
                     aria-labelledby="heading_general"
                     data-parent="#accordion_general">
                    <div class="card-body">
                        {% crispy update_form %}
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    <span class='has-text-weight-bold'>Batch size:</span>
                                    {{ run.fit_parameters.batch_size }}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Epochs:</span>
                                    {{ run.fit_parameters.epochs }}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Size:</span>
                                    {{ run.network_config.size|intcomma }}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Memory:</span>
                                    {{ run.memory_usage|intcomma }}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Size on disk:</span>
                                    {{ run.size_on_disk|intcomma }} Bytes
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <span class='has-text-weight-bold'>NASO Version:</span>
                                    {{ run.naso_app_version }}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Git Hash:</span>
                                    {{ run.git_hash }}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Device:</span>
                                    {% if run.compute_device %}
                                        {{ run.compute_device }}
                                    {% else %}
                                        {{ run.gpu }}
                                    {% endif %}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Avg. Power draw:</span>
                                    {{ run.get_average_energy_consumption|floatformat:2 }} W
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="accordion_network_graph">
            <div data-toggle="" data-target="#_network_graph" class="card">
                <div class="card-header d-flex justify-content-between is-align-items-center">
                    <h5 class="my-2">Network Graph</h5>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div id="_network_graph"
                     class=" show"
                     aria-labelledby="heading_network_graph"
                     data-parent="#accordion_network_graph">
                    <div class="card-body has-background-light d-flex">{% include 'templates/graph.html' %}</div>
                </div>
            </div>
        </div>
        <!-- create accordion with bulma for optimizer-->
        <div class="accordion" id="accordion_loss">
            <div class="card">
                <div data-toggle="collapse"
                     data-target="#collapse_loss"
                     class="card-header d-flex justify-content-between is-align-items-center"
                     id="heading_loss">
                    <h5 class="my-2">Loss</h5>
                    <div>
                        <span class="mx-5 tag is-info is-light text-md">{{ run.hyper_parameters.loss.instance_type }}</span>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div id="collapse_loss"
                     class="collapse"
                     aria-labelledby="heading_loss"
                     data-parent="#accordion_loss">
                    <div class="card-body">
                        <div class="row">
                            {% if run.hyper_parameters.loss.additional_arguments %}
                                {% for argument in run.hyper_parameters.loss.additional_arguments %}
                                    <div class="col-6">
                                        <p>
                                            <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                            {{ argument.value }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for argument in run.hyper_parameters.loss.instance_type.required_arguments %}
                                    <div class="col-6">
                                        <p>
                                            <span class='has-text-weight-bold col-2'>{{ argument.name }}</span>
                                            {{ argument.default }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if run.network_config.pruning_method and run.network_config.pruning_schedule %}
            <div class="accordion" id="accordion_pruning">
                <div class="card">
                    <div data-toggle="collapse"
                         data-target="#collapse_pruning"
                         class="card-header d-flex justify-content-between is-align-items-center"
                         id="heading_pruning">
                        <h5 class="my-2">Pruning</h5>
                        <div>
                            <span class="mx-5 tag is-info is-light text-md">{{ run.network_config.pruning_method.instance_type }}</span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                    <div id="collapse_pruning"
                         class="collapse"
                         aria-labelledby="heading_pruning"
                         data-parent="#accordion_pruning">
                        <div class="card-body">
                            <div class="row">
                                {% if run.network_config.pruning_method.additional_arguments %}
                                    {% for argument in run.network_config.pruning_method.additional_arguments %}
                                        <div class="col-6">
                                            <p>
                                                <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                                {{ argument.value }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% for argument in run.network_config.pruning_method.instance_type.required_arguments %}
                                        <div class="col-6">
                                            <p>
                                                <span class='has-text-weight-bold col-2'>{{ argument.name }}</span>
                                                {{ argument.default }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class='w-100 d-flex mt-4'>
                                    <h5 class='w-auto'>Schedule:</h5>
                                    <hr class='w-100 m-3'>
                                </div>
                                {% if run.network_config.pruning_schedule.additional_arguments %}
                                    {% for argument in run.network_config.pruning_schedule.additional_arguments %}
                                        <div class="col-6">
                                            <p>
                                                <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                                {{ argument.value }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% for argument in run.network_config.pruning_schedule.instance_type.required_arguments %}
                                        <div class="col-6">
                                            <p>
                                                <span class='has-text-weight-bold col-2'>{{ argument.name }}</span>
                                                {{ argument.default }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if run.network_config.pruning_policy %}
                                    <div class='w-100 d-flex mt-4'>
                                        <h5 class='w-auto'>Policy:</h5>
                                        <hr class='w-100 m-3'>
                                    </div>
                                    {% if run.network_config.pruning_policy.additional_arguments %}
                                        {% for argument in run.network_config.pruning_policy.additional_arguments %}
                                            <div class="col-6">
                                                <p>
                                                    <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                                    {{ argument.value }}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% for argument in run.network_config.pruning_policy.instance_type.required_arguments %}
                                            <div class="col-6">
                                                <p>
                                                    <span class='has-text-weight-bold col-2'>{{ argument.name }}</span>
                                                    {{ argument.default }}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <h4>Metrics</h4>
        {% for metric in run.hyper_parameters.metrics.all %}
            <div class="accordion" id="accordion_{{ metric.id }}">
                <div class="card">
                    <div data-toggle="collapse"
                         data-target="#collapse_{{ metric.id }}"
                         class="card-header d-flex justify-content-between is-align-items-center"
                         id="heading_{{ metric.id }}">
                        <h5 class="my-2">{{ metric.instance_type }}</h5>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div id="collapse_{{ metric.id }}"
                         class="collapse"
                         aria-labelledby="heading_{{ metric.id }}"
                         data-parent="#accordion_{{ metric.id }}">
                        <div class="card-body">
                            <div class="">
                                <div>
                                    {% if metric.additional_arguments %}
                                        {% for argument in metric.additional_arguments %}
                                            <p class='col-2'>
                                                <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                                {{ argument.value }}
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        {% for argument in metric.instance_type.required_arguments %}
                                            <p class='col-2'>
                                                <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                                {{ argument.default }}
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h4>Callbacks</h4>
        {% for callback in run.fit_parameters.callbacks.all %}
            <div class="accordion" id="accordion_{{ callback.id }}">
                <div class="card">
                    <div data-toggle="collapse"
                         data-target="#collapse_{{ callback.id }}"
                         class="card-header d-flex justify-content-between is-align-items-center"
                         id="heading_{{ callback.id }}">
                        <h5 class="my-2">{{ callback.instance_type }}</h5>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div id="collapse_{{ callback.id }}"
                         class="collapse"
                         aria-labelledby="heading_{{ callback.id }}"
                         data-parent="#accordion_{{ callback.id }}">
                        <div class="card-body">
                            <div class="">
                                <div>
                                    {% if callback.additional_arguments %}
                                        {% for argument in callback.additional_arguments %}
                                            <p class='col-2'>
                                                <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                                <span class="border-bottom">{{ argument.value }}</span>
                                            </p>
                                        {% endfor %}
                                    {% else %}
                                        {% for argument in callback.instance_type.required_arguments %}
                                            <p class='col-2'>
                                                <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                                <span class="border-bottom">{{ argument.default }}</span>
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="accordion" id="accordion_optimizer">
            <div class="card">
                <div data-toggle="collapse"
                     data-target="#collapse_optimizer"
                     class="card-header d-flex justify-content-between is-align-items-center"
                     id="heading_optimizer">
                    <h5 class="my-2">optimizer</h5>
                    <div>
                        <span class="mx-5 tag is-info is-light text-md">{{ run.hyper_parameters.optimizer.instance_type }}</span>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div id="collapse_optimizer"
                     class="collapse"
                     aria-labelledby="heading_optimizer"
                     data-parent="#accordion_optimizer">
                    <div class="card-body">
                        <div class="row">
                            {% if run.hyper_parameters.optimizer.additional_arguments %}
                                {% for argument in run.hyper_parameters.optimizer.additional_arguments %}
                                    <div class="col-6">
                                        <p>
                                            <span class='has-text-weight-bold'>{{ argument.name }}</span>
                                            {{ argument.value }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for argument in run.hyper_parameters.optimizer.optimizer_type.required_arguments %}
                                    <div class="col-6">
                                        <p>
                                            <span class='has-text-weight-bold col-2'>{{ argument.name }}</span>
                                            {{ argument.default }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion_dataset">
            <div class="card">
                <div data-toggle="collapse"
                     data-target="#collapse_dataset"
                     class="card-header d-flex justify-content-between is-align-items-center"
                     id="heading_dataset">
                    <h5 class="my-2">Dataset</h5>
                    <div>
                        <span class="mx-5 tag is-info is-light text-md">{{ run.dataset.name }}</span>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div id="collapse_dataset"
                     class="collapse"
                     aria-labelledby="heading_dataset"
                     data-parent="#accordion_dataset">
                    <div class="card-body">
                        <div class="">
                            <div>
                                <p>
                                    <span class='has-text-weight-bold'>Datasetloader:</span>
                                    {{ run.dataset.dataset_loader }}
                                </p>
                                <p>
                                    <span class='has-text-weight-bold'>Information:</span>
                                    {{ run.dataset.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion_best_model">
            <div class="card">
                <div data-toggle="collapse"
                     data-target="#collapse_best_model"
                     class="card-header d-flex justify-content-between is-align-items-center"
                     id="heading_best_model">
                    <h5 class="my-2">Prediction metrics</h5>
                    <div>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div id="collapse_best_model"
                     class="collapse"
                     aria-labelledby="heading_best_model"
                     data-parent="#accordion_best_model">
                    <div class="card-body">
                        <div class="row">
                            {% if run.prediction_metrics %}
                                {% for metrics in  run.prediction_metrics.first.metrics %}
                                    {% for metric in metrics.metrics %}
                                        <div class="col-6">
                                            <p>
                                                <span class='has-text-weight-bold'>{{ metric }}</span>
                                                {% get_attribute_tag metrics.metrics metric %}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion_graphs">
            <div class="card">
                <div data-toggle="collapse"
                     data-target="#collapse_graphs"
                     class="card-header d-flex justify-content-between is-align-items-center"
                     id="heading_graphs">
                    <h5 class="my-2">Graphs</h5>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div id="collapse_graphs"
                     class="collapse"
                     aria-labelledby="heading_graphs"
                     data-parent="#accordion_graphs">
                    <div class="card-body d-flex">
                        <div class="col-9" id='graph_container'>
                            <canvas class='h-100 w-100 m'
                                    style="min-height: 40vh"
                                    id='canvas'
                                    width="400"
                                    height="400"></canvas>
                        </div>
                        <div class="col-3">
                            <div class="axis-selection">
                                <div>
                                    <label>X-Axis</label>
                                    <select class="form-control" id="graph_xaxis" onchange="graphX(this)">
                                        <option value="epochs">epochs</option>
                                    </select>
                                </div>
                                <div class="my-5">
                                    <label>Y-Axis</label>
                                    <select class="form-control" id="graph_yaxis" onchange="graphY(this)"></select>
                                </div>
                            </div>
                            <a href='download_metrics/{{ run.id }}' class='btn btn-primary'>Download metrics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% with run.network_config.connections as edges %}
        {% include 'components/graph_js.html' %}
    {% endwith %}
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script>
    let run_metrics = {};
    let graph = null;
    let allEpochs = [];

    document.addEventListener("DOMContentLoaded", () => {
        let canvas = document.getElementById("canvas").getContext('2d');
        graphChart = new Chart(canvas, {
            type: 'line',
            data: {
                labels: allEpochs,
                datasets: []
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom',
                        title: {
                            display: true,
                            text: 'Epochs' // Set the dynamic X-axis title
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Loss' // Set the dynamic Y-axis title
                        }
                    }
                },
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                plugins: {
                    colors: {
                        forceOverride: true
                    },
                    tooltip: {
                        enabled: false,
                        position: 'nearest',
                        external: externalTooltipHandler
                    }
                }
            }
        });

        fetch("{% url 'api:tensorflow:get_metrics_for_run' run.id %}").then(function(response) {
            response.json().then(function(data) {
                run_metrics = data;
                let metrics = [];
                for(metric in run_metrics[0].metrics) {
                    metrics.push(metric);
                    generateOption(metric, metric, $('#graph_xaxis'));
                    generateOption(metric, metric, $('#graph_yaxis'));
                }
                build_graph();

            });
        });
        const token = "{{API_TOKEN}}";
        fetch("{% url 'api:celery:is_running' %}", {
            method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Token ${token}`,
                    },
            body: JSON.stringify({'run_id':{{run.id}}, 'run_type':'tensorflow'}),
        }).then(function(response) {
            response.json().then(function(data) {
                console.log(data);
                if (data['success']) {
                    $('#training_progress').toggleClass('d-none');
                    // this run is currently in training, so display the progreessbar
                    $('#task_kill_link').attr('href', $('#task_kill_link').attr('href').replace(0,data['task_id']));
                    updateProgress("{% url 'runs:training_progress' 0 %}".replace(0,data['task_id']), '');
                }
            });
        });
            });

    // This function converts a dictionary to an array of objects with 'y' and 'x' properties.
    // The 'y' property is the value of the given key in the dictionary and the 'x' property is
    // either the key of the dictionary or the value of the given xAxisMetric key in the dictionary.
    function dictToArray(dict, key, xAxisMetric='epochs') {
        let array = [];
        for (let i in dict) {
            if ('current' in dict[i]) {
                var label = '';
                if (xAxisMetric == 'epochs') {
                    label = i.toString();
                } else {
                    label = dict[i].metrics[xAxisMetric].toString();
                }
                array.push({y:dict[i].metrics[key], x: label});
            }
        }
        return array;
    }

    const getOrCreateTooltip = (chart) => {
        let tooltipEl = chart.canvas.parentNode.querySelector('div');

        if (!tooltipEl) {
            tooltipEl = document.createElement('div');
            tooltipEl.style.background = 'rgba(0, 0, 0, 0.7)';
            tooltipEl.style.borderRadius = '3px';
            tooltipEl.style.color = 'white';
            tooltipEl.style.opacity = 1;
            tooltipEl.style.pointerEvents = 'none';
            tooltipEl.style.position = 'absolute';
            tooltipEl.style.transform = 'translate(-50%, 0)';
            tooltipEl.style.width = 'max-content';
            tooltipEl.style.zIndex = 9999;
            const table = document.createElement('table');
            table.style.margin = '0px';

            tooltipEl.appendChild(table);
            chart.canvas.parentNode.appendChild(tooltipEl);
        }

        return tooltipEl;
    };

    const externalTooltipHandler = (context) => {
        // Tooltip Element
        const {chart, tooltip} = context;
        const tooltipEl = getOrCreateTooltip(chart);

        // Hide if no tooltip
        if (tooltip.opacity === 0) {
            tooltipEl.style.opacity = 0;
            return;
        }

        let dataIndex = tooltip.dataPoints[0].dataIndex;
        
        // Set Text
        if (tooltip.body) {
            const titleLines = tooltip.title || [];
            const bodyLines = tooltip.body.map(b => b.lines);

            const tableHead = document.createElement('thead');

            titleLines.forEach(title => {
                const tr = document.createElement('tr');
                tr.style.borderWidth = 0;

                const th = document.createElement('th');
                th.style.borderWidth = 0;
                th.style.color = 'white';
                const text = document.createTextNode($('#graph_xaxis').val() + " " + title);

                th.appendChild(text);
                tr.appendChild(th);
                tableHead.appendChild(tr);
            });

            const tableBody = document.createElement('tbody');
            bodyLines.forEach((body, i) => {
                let metrics = run_metrics[dataIndex];
                const colors = tooltip.labelColors[i];
                const span = document.createElement('span');
                span.style.background = colors.backgroundColor;
                span.style.borderColor = colors.borderColor;
                span.style.borderWidth = '2px';
                span.style.height = '10px';
                span.style.width = '10px';
                span.style.display = 'inline-block';

                const tr = document.createElement('tr');
                tr.style.backgroundColor = 'inherit';
                tr.style.borderWidth = 0;

                const td = document.createElement('td');
                td.style.borderWidth = 0;

                let bodyText = $('#graph_yaxis').val() + ": " + body
                if ('trial_energy_consumption' in metrics) {
                    bodyText += ', Energy: ' + metrics['trial_energy_consumption'].toLocaleString() + ' W';
                }
                const text = document.createTextNode(bodyText);

                td.appendChild(span);
                td.appendChild(text);
                tr.appendChild(td);
                tableBody.appendChild(tr);
            });

            const tableRoot = tooltipEl.querySelector('table');

            // Remove old children
            while (tableRoot.firstChild) {
                tableRoot.firstChild.remove();
            }

            // Add new children
            tableRoot.appendChild(tableHead);
            tableRoot.appendChild(tableBody);
        }

        const {offsetLeft: positionX, offsetTop: positionY} = chart.canvas;

        // Display, position, and set styles for font
        tooltipEl.style.opacity = 1;
        tooltipEl.style.left = positionX + tooltip.caretX + 'px';
        tooltipEl.style.top = positionY + tooltip.caretY + 'px';
    };

    function generateOption(value, text, parent) {
        let optionY = document.createElement('option');
        optionY.value = value;
        optionY.text = text;
        parent.append(optionY);
    }

    function graphX(event) {
        let xaxis = $('#graph_xaxis').val();
        let yaxis = $('#graph_yaxis').val();
        graphChart.data.datasets.forEach(function(dataset) {
            dataset.data = dictToArray(run_metrics, yaxis, xaxis);
            dataset.label = yaxis;
        });
        graphChart.options.scales.x.title.text = xaxis;
        graphChart.update();
    }

    function graphY(event) {
        let yaxis = $('#graph_yaxis').val();
        graphChart.data.datasets.forEach(function(dataset) {
            dataset.data = dictToArray(run_metrics, yaxis, $('#graph_xaxis').val());
            dataset.label = yaxis;
        });
        graphChart.options.scales.y.title.text = yaxis;
        graphChart.update();
    }

    function build_graph(data) {
     
        var data = [];
        var labels = [];

       let yaxis = $('#graph_yaxis').val();
       let xaxis = $('#graph_xaxis').val();

        function updateChart() {
            graphChart.data.labels = [];
            graphChart.data.datasets = [{data:dictToArray(run_metrics, yaxis, xaxis), label: yaxis}];
            graphChart.update();
        }

        for (let epoch in run_metrics) {
            data.push(run_metrics[epoch].metrics[yaxis]);
            labels.push(epoch);
        }

        if (labels.length > graphChart.data.labels.length) {
            allEpochs = labels;
            graphChart.data.labels = labels;
        }
        updateChart();
    
    }
    </script>
{% endblock %}
