{% extends 'base.html' %}
{% load get_values %}
{% block content %}
    <script>
        const options = {
            responsive: true,
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',

                    // grid line settings
                    grid: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                }
            },
        };
        var ascending = true; // Flag to track sorting direction
        var tensorflowUrl = '{% url "api:tensorflow:get_metrics_for_run" 0 %}';
        var autokerasUrl = '{% url "api:autokeras:get_metrics_for_run" 0 %}';
        var tensorflowdeleteURL = "{% url 'runs:delete' 0 %}";        
        var autokerasdeleteURL = "{% url 'runs:autokeras:delete' 0 %}";        
        var tensorflowTrainings = [{% for network_training_id in network_training_ids %} {{ network_training_id }}, {% endfor %}];
        var kerasRuns = [{% for keras_run_id in autokeras_run_ids %} {{ keras_run_id }}, {% endfor %}];
        document.addEventListener("DOMContentLoaded", () => {
            var ascending = true; // Flag to track sorting direction
            initFilterSort('runs_list');
            $('#sortAutokerasNameButton').on('click', function() {
                sortByDataset($(this), 'name', 'runs_list_autokeras');
            });

            document.getElementById('toggleSelectionButton').addEventListener('click', function () {
                var button = document.getElementById('toggleSelectionButton');
                document.querySelectorAll('input[type="checkbox"]').forEach((el)=>el.classList.toggle('d-none'));
                document.getElementById('actions_dropdown').classList.toggle('d-none');
                document.getElementById('selectAllButton').classList.toggle('d-none');

                if (button.innerHTML == 'Auswahl') {
                    button.innerHTML = 'Fertig';
                } else {
                    button.innerHTML = 'Auswahl';
                } 
            });  
            document.getElementById('selectAllButton').addEventListener('click', function () {
                var activeTab = getActiveTab();
                var checkboxs = document.querySelectorAll('input[type="checkbox"][name="' + activeTab + '_checkbox"]');
        
                checkboxs.forEach(function(checkbox) {
                    checkbox.checked = true;
                });
            });
        });

        function fetchTensorflowData(tensorflowId) {
                fetch(tensorflowUrl.replace('0', tensorflowId))
                    .then(response => response.json())
                    .then(data => {
                        loadDataInGraph('chart', tensorflowId, data);
                    });
        }

        function fetchKerasData(kerasId) {
                fetch(autokerasUrl.replace('0', kerasId))
                    .then(response => response.json())
                    .then(data => {
                        loadDataInGraph('autokeras_chart', kerasId, data);
                    });
        }

        function loadDataInGraph(prependix = 'chart', trainingId, data) {
            // first get canvas:
            var canvas = document.getElementById(prependix + trainingId.toString()).getContext('2d');
            // then get data:
            var chartData = data.filter((point) => {
                    return 'current' in point
                })
                .map((point) => {
                    let metrics = {
                        'epoch': point.current
                    };
                    for (const metric in point.metrics) {
                        metrics[metric] = point.metrics[metric];
                    }
                    return metrics;
                });
            var tagContainer = document.getElementById('tags_'+trainingId);
            if (tagContainer) {
                var lastMetric = data.filter((point) => {
                    return 'current' in point
                }).slice(-1)[0].metrics;
                if (tagContainer.innerHTML == '') {
                    Object.entries(lastMetric).forEach((metric) => {
                        if (!metric[0].includes('val') && !metric[0].includes('power') && !metric[0].includes('time')) {
                            tagContainer.innerHTML = '<span class="my-1 mx-1 is-info is-light tag">' + metric[0] + ': ' + metric[1].toFixed(5) + '</span>' + tagContainer.innerHTML;
                        }
                    });
                }
            }

            // next create chart:
            var chart = new Chart(canvas, {
                type: 'line', // Choose the appropriate chart type
                data: {
                    labels: chartData.map(row => row.epoch),
                    datasets: [{
                        label: 'loss',
                        data: chartData.map(row => row.loss),
                        yAxisID: 'y',
                    }, {
                        label: 'accuracy',
                        data: chartData.map(row => row.accuracy),
                        yAxisID: 'y1',
                    }]
                },
                options: options
            });
        }

        function sortByDataset(element, type, containerID) {
            // Toggle sorting direction
            ascending = !ascending;

            // Toggle the arrow icon
            var sortIcon = element.find('.sort-icon');
            if (ascending) {
                sortIcon.text('↑'); // Up arrow
            } else {
                sortIcon.text('↓'); // Down arrow
            }

            $('#' + containerID).find('.accordion').sort(function(a, b) {
                var timeA = parseFloat($(a).data(type));
                var timeB = parseFloat($(b).data(type));
                if (isNaN(timeA)) {
                    return (($(a).data(type) < $(b).data(type)) * 2 - 1) * (ascending * 2 - 1);
                } 
                return ascending ? timeA - timeB : timeB - timeA;
            }).appendTo('#' + containerID);
        }

        function initFilterSort(containerID) {
            $('#sortButton').on('click', function() {
                sortByDataset($(this), 'time', containerID);
            });
            $('#sortNameButton').on('click', function() {
                sortByDataset($(this), 'name', containerID);
            });
            $('#sortRateButton').on('click', function() {
                sortByDataset($(this), 'rating', containerID);
            });
            $('#filterVersion').on('change', function() {
                var selectedVersion = $(this).val();

                $('#' + containerID + ' .accordion').hide();
                $('#' + containerID + ' .accordion').filter(function() {
                    var version = $(this).data('nasoversion');
                    return version >= selectedVersion;
                }).show();
            });
            $('#filterOptimizer').on('change', function() {
                var selectedOptimizer = $(this).val();
                if (selectedOptimizer === 'all') {
                    $('#' + containerID + ' .accordion').show(); // Show all accordions when "All" is selected
                } else {
                    $('#' + containerID + ' .accordion').hide(); // Hide all items
                    $('#' + containerID + ' .accordion[data-optimizer="' + selectedOptimizer + '"]').show(); // Show matching items
                }
            });
            $('#filterRating').on('change', function() {
                var selectedRating = $(this).val();
                if (selectedRating === '0') {
                    $('#' + containerID + ' .accordion').show();
                } else {
                    $('#' + containerID + ' .accordion').hide();
                    $('#' + containerID + ' .accordion').filter(function() {
                        var rating = parseInt($(this).data('rating'));
                        return rating >= selectedRating;
                    }).show();
                }
            });
        }

        function getActiveTab() {
            var autokerasTab = $('#autokeras')[0];
            if (autokerasTab.style.display === 'none') {
                return 'tensorflow';
            } else {
                return 'autokeras';
            }
        }

        function deleteSelectedRuns() {
            var activeTab = getActiveTab();
            var selectedRuns = document.querySelectorAll('input[type="checkbox"][name="' + activeTab + '_checkbox"]:checked');
            if (confirm("Wollen Sie ie Daten wirklich loschen?")) {
                selectedRuns.forEach((input) => {
                    [x, runType, id] = input.id.split("_");
                    var deleteURL  = '';
                    if (activeTab === 'tensorflow') {
                        deleteURL = tensorflowdeleteURL;
                    }
                    else {
                        deleteURL = autokerasdeleteURL;
                    }

                    $.ajax({
                        type: 'GET',
                        url: deleteURL.replace(0,id),
                        success: function(data) {
                            $('#accordion'+data['id']).remove();
                            toastr.success("Datensatzx geloscht", 'INFO');
                        },
                        error: function() {
                            // Handle error
                            toastr.error("Datensatz konnte nicht geloscht werden", 'FEHLER');
                        }
                    });
                });
            }
        }

        function addRunToComparison() {
            var activeTab = getActiveTab();
            var selectedRuns = document.querySelectorAll('input[type="checkbox"][name="' + activeTab + '_checkbox"]:checked');
            var selectedRunIDs = [];
            selectedRuns.forEach((input) => {
                [x, runType, id] = input.id.split("_");
                selectedRunIDs.push(activeTab + ":" + id);
            });
            if (selectedRunIDs.length > 0) {
                var updateUrl = "{% url 'api:system:update_session' %}";        
                $.ajax({
                    type: 'POST',
                    url: updateUrl,
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'comparison':'comparison',
                        'delete':false,
                        'run_type': activeTab,
                        'values': selectedRunIDs
                    }),
                    headers: {
                        'Authorization': `Token ${token}`,
                    },
                    success: function(data) {
                        toastr.success("Vergleich hinzugefugt", 'INFO');
                        var container = $('#comparison_container');
                        container.empty();
                        Object.entries(data['session']).forEach((element) => {
                            var collapsePrefix = 'collapse';
                            if (element[1] === 'autokeras') {
                                collapsePrefix = 'autokeras_collapse';
                            }
                            let run_id = element[0];
                            if (run_id.includes(':')) {
                                run_id = run_id.split(":")[1];
                            }
                            var linkElements = $('#' + collapsePrefix + run_id + ' a');
                            if (linkElements.length > 0) {
                                var link = linkElements[0].href;
                                var name = $('button[data-target="#' + collapsePrefix + run_id + '"]')[0].innerText;
                                addRunToComparisonView(element[0], name, element[1], link);
                            }
                        });
                    },
                    error: function() {
                        toastr.error("Daten konnten dem Vergleich leider nicht hinzugefugt werden", 'FEHLER');
                    }
                });
            }
        }

    </script>
    <div class="tabs is-centered is-toggle is-toggle-round">
        <ul>
            <li class="tab is-active" onclick="openTab(event,'tensorflow')">
                <a>Tensorflow</a>
            </li>
            <li class="tab" onclick="openTab(event,'autokeras')">
                <a>Autokeras</a>
            </li>
        </ul>
    </div>
    <div class='d-flex justify-content-end container'>
        <button type="button"
                class='border-info button is-info is-light mx-2'
                id="toggleSelectionButton">Auswahl</button>
        <button type="button"
                class='border-info button is-info is-light mx-2 d-none'
                id="selectAllButton">Alles auswahlen</button>
        <div class="dropdown d-none is-hoverable" id='actions_dropdown'>
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Aktionen</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div onclick='deleteSelectedRuns()' class="dropdown-item">Loschen</div>
                    <hr class="dropdown-divider">
                    <div onclick='addRunToComparison()' class="dropdown-item">Vergleichen</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-tab pb-3" id="tensorflow">
        <div class="align-items-center row mb-3">
            <h3>Filtering</h3>
            <div class="align-items-center col-3 d-flex">
                <label class="column">Optimizer:</label>
                <input id='filterOptimizer' class="input" type="text">
            </div>
            <div class="align-items-center col-3 d-flex">
                <label class="column">NASO Version:</label>
                <input id='filterVersion' class="input" type="text">
            </div>
            <div class="align-items-center col-3 d-flex">
                <label class="column">Rating:</label>
                <select id='filterRating' class="input">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button class='button is-light is-info' id="sortNameButton">
                Sort by name <span class="sort-icon ml-3"></span>
            </button>
            <button class='button is-light is-info' id="sortButton">
                Sort by time <span class="sort-icon ml-3"></span>
            </button>
            <button class='button is-light is-info' id="sortRateButton">
                Sort by rating <span class="sort-icon ml-3"></span>
            </button>
        </div>
        <div class="container" id="runs_list">
            {% for network_training in network_training_data %}
                <div class="accordion"
                     id="accordion{{ network_training.id }}"
                     data-nasoversion='{{ network_training.naso_app_version }}'
                     data-name='{{ network_training.network_config.name }}'
                     data-optimizer='{{ network_training.hyper_parameters.optimizer.instance_type.name }}'
                     data-time="{% get_metric network_training.final_metrics.metrics 'time' %}"
                     data-rating="{{ network_training.rate }}">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between is-align-items-center"
                             id="heading{{ network_training.id }}">
                            <h2 class="mb-0">
                                <input name='tensorflow_checkbox'
                                       type='checkbox'
                                       class='d-none'
                                       id='checked_tensorflow_{{ network_training.id }}'>
                                <button class="btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapse{{ network_training.id }}"
                                        onClick='fetchTensorflowData({{ network_training.id }})'
                                        aria-expanded="true"
                                        aria-controls="collapse{{ network_training.id }}">
                                    {{ network_training.network_config.name }} (ID:{{ network_training.id }})
                                </button>
                            </h2>
                            <div class='d-flex is-align-items-center'>
                                <div class='d-flex flex-wrap'>
                                    <span class="mx-1 my-1 tag is-warning is-light">{{ network_training.dataset.name }}</span>
                                    {% for metric in network_training.final_metrics.metrics %}
                                        <div id='tags_{{ network_training.id }}' class='d-flex flex-wrap'></div>
                                        {% if 'time' in metric %}
                                            <span class="my-1 mx-1 tag is-primary is-light">time: {% get_attribute_tag metric 'time' %}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <select class='star-rating'
                                        data-type='tensorflow'
                                        data-id="{{ network_training.id }}">
                                    <option value="0"></option>
                                    {% for i in "12345"|make_list %}
                                        <option value='{{ i }}'
                                                {% if network_training.rate == forloop.counter %}selected{% endif %}>
                                        </option>
                                    {% endfor %}
                                </select>
                                <a class="button is-info ml-2 has-tooltip-arrow has-tooltip-left"
                                   href="{% url 'runs:new' %}?rerun={{ network_training.id }}"
                                   data-tooltip='Dieses Experiment neu starten'>
                                    <i class="fas fa-redo"></i>
                                </a>
                                <button class="button is-danger ml-2 delete-btn"
                                        data-target="#confirmDeleteModal"
                                        data-action="{% url 'runs:delete' network_training.id %}"
                                        data-item-id="{{ network_training.id }}"
                                        data-item-name="{{ network_training.network_config.name }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse{{ network_training.id }}"
                             class="collapse"
                             aria-labelledby="heading{{ network_training.id }}"
                             data-parent="#accordion{{ network_training.id }}">
                            <div class="card-body">
                                <div>{{ network_training.description }}</div>
                                <div class="row">
                                    <div class="col-8">
                                        <canvas class='h-100 w-100' id="chart{{ network_training.id }}"></canvas>
                                    </div>
                                    <div class="col-4 border-left p-5">
                                        <div>
                                            <p>
                                                <span class='has-text-weight-bold'>Epochen:</span>
                                                {{ network_training.fit_parameters.epochs }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Batch Size:</span>
                                                {{ network_training.fit_parameters.batch_size }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Optimizer:</span>
                                                {{ network_training.hyper_parameters.optimizer.instance_type.name }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Loss:</span>
                                                {{ network_training.hyper_parameters.loss.instance_type.name }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>NASO Version:</span>
                                                {{ network_training.naso_app_version }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Parametercount:</span>
                                                {{ network_training.network_config.size }}
                                            </p>
                                        </div>
                                        <div>
                                            <a href="{% url 'runs:details' network_training.id %}"
                                               class='mt-3 is-light button is-info'>Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container content-tab mt-3"
         id='autokeras'
         style="display:none">
        <div class='d-flex my-3'>
            <button class='button is-light is-info' id="sortAutokerasNameButton">
                Sort by name <span class="sort-icon ml-3"></span>
            </button>
        </div>
        <div class="container" id="runs_list_autokeras">
            {% for keras_run in autokeras_runs %}
                <div class="accordion"
                     id="accordion{{ keras_run.id }}"
                     data-nasoversion='{{ keras_run.naso_app_version }}'
                     data-rating="{{ keras_run.rate }}"
                     data-name='{{ keras_run.model.project_name }}'
                     data-tuner='{{ keras_run.model.tuner.tuner_type.name }}'>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between is-align-items-center"
                             id="heading{{ keras_run.id }}">
                            <h2 class="mb-0">
                                <input name='autokeras_checkbox'
                                       type='checkbox'
                                       class='d-none'
                                       id='checked_autokeras_{{ keras_run.id }}'>
                                <button class="btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#autokeras_collapse{{ keras_run.id }}"
                                        aria-expanded="true"
                                        onClick='fetchKerasData({{ keras_run.id }})'
                                        aria-controls="autokeras_collapse{{ keras_run.id }}">
                                    {{ keras_run.model.project_name }} (ID:{{ keras_run.id }})
                                </button>
                            </h2>
                            <div class='d-flex is-align-items-center'>
                                <div class='d-flex flex-wrap'>
                                    <span class="mx-1 my-1 tag is-warning is-light">{{ keras_run.dataset.name }}</span>
                                    {% for metric in keras_run.metrics.last.metrics %}
                                        {% if 'final_metric' in metric %}
                                            {% for attr_name in metric.metrics %}
                                                <span class="mx-1 my-1 tag is-info is-light">{{ attr_name }}: {% get_attribute_tag metric.metrics attr_name %}</span>
                                            {% endfor %}
                                            {% if 'time' in metric %}
                                                <span class="mx-1 my-1 tag is-primary is-light">time: {% get_attribute_tag metric 'time' %}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <select class='star-rating'
                                        data-type="autokeras"
                                        data-id="{{ keras_run.id }}">
                                    <option value="0"></option>
                                    {% for i in "12345"|make_list %}
                                        <option value='{{ i }}'
                                                {% if keras_run.rate == forloop.counter %}selected{% endif %}></option>
                                    {% endfor %}
                                </select>
                                <a class="button is-info ml-2 has-tooltip-arrow has-tooltip-left"
                                   href="{% url 'runs:autokeras:new' %}?rerun={{ keras_run.id }}"
                                   data-tooltip='Dieses Experiment neu starten'>
                                    <i class="fas fa-redo"></i>
                                </a>
                                <button class="button is-danger ml-2 delete-btn"
                                        data-target="#confirmDeleteModal"
                                        data-action="{% url 'runs:autokeras:delete' keras_run.id %}"
                                        data-item-id="{{ keras_run.id }}"
                                        data-item-name="{{ keras_run.model.project_name }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div id="autokeras_collapse{{ keras_run.id }}"
                             class="collapse"
                             aria-labelledby="heading{{ keras_run.id }}"
                             data-parent="#accordion{{ keras_run.id }}">
                            <div class="card-body">
                                <div>{{ keras_run.description }}</div>
                                <div class="row">
                                    <div class="col-8">
                                        <canvas class='h-100 w-100' id="autokeras_chart{{ keras_run.id }}"></canvas>
                                    </div>
                                    <div class="col-4 border-left p-5">
                                        <div>
                                            <p>
                                                <span class='has-text-weight-bold'>Max trials:</span>
                                                {{ keras_run.model.max_trials }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Max Size:</span>
                                                {{ keras_run.model.max_model_size }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Optimizer:</span>
                                                {{ keras_run.model.tuner.tuner_type.name }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Loss:</span>
                                                {{ keras_run.model.objective }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>NASO Version:</span>
                                                {{ keras_run.naso_app_version }}
                                            </p>
                                        </div>
                                        <div>
                                            <a href="{% url 'runs:autokeras:details' keras_run.id %}"
                                               class='mt-3 is-light button is-info'>Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/delete_modal.html' %}
    {{ block.super }}
{% endblock content %}
