{% extends 'base.html' %}
{% load get_values %}
{% block content %}
    <script>
        const options = {
            responsive: true,
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',

                    // grid line settings
                    grid: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                }
            },
        };
        var ascending = true; // Flag to track sorting direction
        var tensorflowUrl = '{% url "api:tensorflow:get_metrics_for_run" 0 %}';
        var autokerasUrl = '{% url "api:autokeras:get_metrics_for_run" 0 %}';
        var tensorflowTrainings = [{% for network_training_id in network_training_ids %} {{ network_training_id }}, {% endfor %}];
        var kerasRuns = [{% for keras_run_id in autokeras_run_ids %} {{ keras_run_id }}, {% endfor %}];
        document.addEventListener("DOMContentLoaded", () => {
            // for each tensorflowtraining in tensorflowTrainings, fetch the data from the api and display the graph:
            tensorflowTrainings.forEach((tensorflowTraining) => {
                fetch(tensorflowUrl.replace('0', tensorflowTraining))
                    .then(response => response.json())
                    .then(data => {
                        loadDataInGraph('chart', tensorflowTraining, data);
                    });
            });
            var ascending = true; // Flag to track sorting direction
            initFilterSort('runs_list');

            // for each kerasrun in kerasRuns, fetch the data from the api and display the graph:
            kerasRuns.forEach((kerasRun) => {
                fetch(autokerasUrl.replace('0', kerasRun))
                    .then(response => response.json())
                    .then(data => {
                        loadDataInGraph('autokeras_chart', kerasRun, data);
                    });
            });
        });


        function loadDataInGraph(prependix = 'chart', trainigId, data) {
            // first get canvas:
            var canvas = document.getElementById(prependix + trainigId.toString()).getContext('2d');
            // then get data:
            var chartData = data.filter((point) => {
                    return 'current' in point
                })
                .map((point) => {
                    let metrics = {
                        'epoch': point.current
                    };
                    for (const metric in point.metrics) {
                        metrics[metric] = point.metrics[metric];
                    }
                    return metrics;
                });

            // next create chart:
            var chart = new Chart(canvas, {
                type: 'line', // Choose the appropriate chart type
                data: {
                    labels: chartData.map(row => row.epoch),
                    datasets: [{
                        label: 'loss',
                        data: chartData.map(row => row.loss),
                        yAxisID: 'y',
                    }, {
                        label: 'accuracy',
                        data: chartData.map(row => row.accuracy),
                        yAxisID: 'y1',
                    }]
                },
                options: options
            });
        }

        function sortByDataset(element, type, containerID) {
            // Toggle sorting direction
            ascending = !ascending;

            // Toggle the arrow icon
            var sortIcon = element.find('.sort-icon');
            if (ascending) {
                sortIcon.text('↑'); // Up arrow
            } else {
                sortIcon.text('↓'); // Down arrow
            }

            $('#' + containerID).find('.accordion').sort(function(a, b) {
                var timeA = parseFloat($(a).data(type));
                var timeB = parseFloat($(b).data(type));
                return ascending ? timeA - timeB : timeB - timeA;
            }).appendTo('#' + containerID);
        }

        function initFilterSort(containerID) {
            $('#sortButton').on('click', function() {
                sortByDataset($(this), 'time', containerID);
            });
            $('#sortRateButton').on('click', function() {
                sortByDataset($(this), 'rating', containerID);
            });
            $('#filterOptimizer').on('change', function() {
                var selectedOptimizer = $(this).val();
                if (selectedOptimizer === 'all') {
                    $('#' + containerID + ' .accordion').show(); // Show all accordions when "All" is selected
                } else {
                    $('#' + containerID + ' .accordion').hide(); // Hide all items
                    $('#' + containerID + ' .accordion[data-optimizer="' + selectedOptimizer + '"]').show(); // Show matching items
                }
            });
            $('#filterRating').on('change', function() {
                var selectedRating = $(this).val();
                if (selectedRating === '0') {
                    $('#' + containerID + ' .accordion').show();
                } else {
                    $('#' + containerID + ' .accordion').hide();
                    $('#' + containerID + ' .accordion').filter(function() {
                        var rating = parseInt($(this).data('rating'));
                        console.log(selectedRating);
                        return rating >= selectedRating;
                    }).show();
                }
            });
        }
    </script>
    <div class="tabs is-centered is-toggle is-toggle-round">
        <ul>
            <li class="tab is-active" onclick="openTab(event,'tensorflow')">
                <a>Tensorflow</a>
            </li>
            <li class="tab" onclick="openTab(event,'autokeras')">
                <a>Autokeras</a>
            </li>
        </ul>
    </div>
    <div class="container content-tab" id="tensorflow">
        <div class="align-items-center row mb-3">
            <h3>Filtering</h3>
            <div class="align-items-center col-3 d-flex">
                <label class="column">Optimizer:</label>
                <input id='filterOptimizer' class="input" type="text">
            </div>
            <div class="align-items-center col-3 d-flex">
                <label class="column">Rating:</label>
                <select id='filterRating' class="input">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button class='button is-light is-info' id="sortButton">
                Sort by time <span class="sort-icon ml-3"></span>
            </button>
            <button class='button is-light is-info' id="sortRateButton">
                Sort by rating <span class="sort-icon ml-3"></span>
            </button>
        </div>
        <div class="container" id="runs_list">
            {% for network_training in network_training_data %}
                <div class="accordion"
                     id="accordion{{ network_training.id }}"
                     data-app-version='{{ network_training.naso_app_version }}'
                     data-optimizer='{{ network_training.hyper_parameters.optimizer.instance_type.name }}'
                     data-time="{% get_metric network_training.final_metrics.metrics 'time' %}"
                     data-rating="{{ network_training.rate }}">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between is-align-items-center"
                             id="heading{{ network_training.id }}">
                            <h2 class="mb-0">
                                <button class="btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapse{{ network_training.id }}"
                                        aria-expanded="true"
                                        aria-controls="collapse{{ network_training.id }}">
                                    {{ network_training.network_config.name }}
                                </button>
                            </h2>
                            <div class='d-flex is-align-items-center'>
                                <div class='d-flex flex-wrap'>
                                    <span class="mx-1 my-1 tag is-warning is-light">{{ network_training.dataset.name }}</span>
                                    {% for metric in network_training.final_metrics.metrics %}
                                        {% for attr_name in metric.metrics %}
                                            <span class="mx-1 my-1 tag is-info is-light">{{ attr_name }}: {% get_attribute_tag metric.metrics attr_name %}</span>
                                        {% endfor %}
                                        {% if 'time' in metric %}
                                            <span class="my-1 mx-1 tag is-primary is-light">time: {% get_attribute_tag metric 'time' %}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <select class='star-rating'
                                        data-type='tensorflow'
                                        data-id="{{ network_training.id }}">
                                    <option value="0"></option>
                                    {% for i in "12345"|make_list %}
                                        <option value='{{ i }}'
                                                {% if network_training.rate == forloop.counter %}selected{% endif %}>
                                        </option>
                                    {% endfor %}
                                </select>
                                <a class="button is-info ml-2 has-tooltip-arrow has-tooltip-left"
                                   href="{% url 'runs:new' %}?rerun={{ network_training.id }}"
                                   data-tooltip='Dieses Experiment neu starten'>
                                    <i class="fas fa-redo"></i>
                                </a>
                                <button class="button is-danger ml-2 delete-btn"
                                        data-target="#confirmDeleteModal"
                                        data-action="{% url 'runs:delete' network_training.id %}"
                                        data-item-id="{{ network_training.id }}"
                                        data-item-name="{{ network_training.network_config.name }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapse{{ network_training.id }}"
                             class="collapse"
                             aria-labelledby="heading{{ network_training.id }}"
                             data-parent="#accordion{{ network_training.id }}">
                            <div class="card-body">
                                <div>{{ network_training.description }}</div>
                                <div class="row">
                                    <div class="col-8">
                                        <canvas class='h-100 w-100' id="chart{{ network_training.id }}"></canvas>
                                    </div>
                                    <div class="col-4 border-left p-5">
                                        <div>
                                            <p>
                                                <span class='has-text-weight-bold'>Epochen:</span>
                                                {{ network_training.fit_parameters.epochs }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Batch Size:</span>
                                                {{ network_training.fit_parameters.batch_size }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Optimizer:</span>
                                                {{ network_training.hyper_parameters.optimizer.instance_type.name }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Loss:</span>
                                                {{ network_training.hyper_parameters.loss.instance_type.name }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>NASO Version:</span>
                                                {{ network_training.naso_app_version }}
                                            </p>
                                        </div>
                                        <div>
                                            <a href="{% url 'runs:details' network_training.id %}"
                                               class='mt-3 is-light button is-info'>Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container content-tab" id='autokeras' style="display:none">
        <div class="container" id="runs_list_autokeras">
            {% for keras_run in autokeras_runs %}
                <div class="accordion"
                     id="accordion{{ keras_run.id }}"
                     data-app-version='{{ keras_run.naso_app_version }}'
                     data-rating="{{ keras_run.rate }}"
                     data-tuner='{{ keras_run.model.tuner.tuner_type.name }}'>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between is-align-items-center"
                             id="heading{{ keras_run.id }}">
                            <h2 class="mb-0">
                                <button class="btn"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#autokeras_collapse{{ keras_run.id }}"
                                        aria-expanded="true"
                                        aria-controls="autokeras_collapse{{ keras_run.id }}">
                                    {{ keras_run.model.project_name }}
                                </button>
                            </h2>
                            <div class='d-flex is-align-items-center'>
                                <div class='d-flex flex-wrap'>
                                    <span class="mx-1 my-1 tag is-warning is-light">{{ keras_run.dataset.name }}</span>
                                    {% for metric in keras_run.metrics.last.metrics %}
                                        {% if 'final_metric' in metric %}
                                            {% for attr_name in metric.metrics %}
                                                <span class="mx-1 my-1 tag is-info is-light">{{ attr_name }}: {% get_attribute_tag metric.metrics attr_name %}</span>
                                            {% endfor %}
                                            {% if 'time' in metric %}
                                                <span class="mx-1 my-1 tag is-primary is-light">time: {% get_attribute_tag metric 'time' %}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <select class='star-rating'
                                        data-type="autokeras"
                                        data-id="{{ keras_run.id }}">
                                    <option value="0"></option>
                                    {% for i in "12345"|make_list %}
                                        <option value='{{ i }}'
                                                {% if keras_run.rate == forloop.counter %}selected{% endif %}></option>
                                    {% endfor %}
                                </select>
                                <a class="button is-info ml-2 has-tooltip-arrow has-tooltip-left"
                                   href="{% url 'runs:autokeras:new' %}?rerun={{ keras_run.id }}"
                                   data-tooltip='Dieses Experiment neu starten'>
                                    <i class="fas fa-redo"></i>
                                </a>
                                <button class="button is-danger ml-2 delete-btn"
                                        data-target="#confirmDeleteModal"
                                        data-action="{% url 'runs:autokeras:delete' keras_run.id %}"
                                        data-item-id="{{ keras_run.id }}"
                                        data-item-name="{{ keras_run.model.project_name }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div id="autokeras_collapse{{ keras_run.id }}"
                             class="collapse"
                             aria-labelledby="heading{{ keras_run.id }}"
                             data-parent="#accordion{{ keras_run.id }}">
                            <div class="card-body">
                                <div>{{ keras_run.description }}</div>
                                <div class="row">
                                    <div class="col-8">
                                        <canvas class='h-100 w-100' id="autokeras_chart{{ keras_run.id }}"></canvas>
                                    </div>
                                    <div class="col-4 border-left p-5">
                                        <div>
                                            <p>
                                                <span class='has-text-weight-bold'>Max trials:</span>
                                                {{ keras_run.model.max_trials }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Max Size:</span>
                                                {{ keras_run.model.max_model_size }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Optimizer:</span>
                                                {{ keras_run.model.tuner.tuner_type.name }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>Loss:</span>
                                                {{ keras_run.model.objective }}
                                            </p>
                                            <p>
                                                <span class='has-text-weight-bold'>NASO Version:</span>
                                                {{ keras_run.naso_app_version }}
                                            </p>
                                        </div>
                                        <div>
                                            <a href="{% url 'runs:autokeras:details' keras_run.id %}"
                                               class='mt-3 is-light button is-info'>Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/delete_modal.html' %}
    {{ block.super }}
{% endblock content %}
