.select2-selection {
    height: auto !important;
}
.select2-selection .select2-selection__arrow {
    height: 100% !important;
}
.card-header::after {
    display:none;
}
.active {
    color: cornflowerblue;
}
.navbar-link:hover{
    background-color: rgba(100, 148, 237, 0.5);

}
.has-tooltip-multiline:before {
    font-size:15px !important;
}
section.content > .container {
    max-width: 60vw !important;
}
