SECRET_KEY=YOUR_SECRET_KEY
DEBUG=True
DATABASE_URL=mysql://<user>:<password>@<host>:<port>/<database>
DEFAULT_HOST=localhost
EMAIL_HOST=smtp-mail.outlook.com
EMAIL_PORT=587
EMAIL_HOST_USER='user'
EMAIL_HOST_PASSWORD='password'
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS='user@outlook.de'
# ASK mariusgoehring for specific credentials for a existing setuop of rabbitmq
API_TOKEN = '<api_authentication_token>'
CELERY_BROKER_URL = 'pyamqp://<username>:<password>@<rabbitmq-hostname-or-ip>/<vhost>'
