[flake8]
max-line-length: 119
exclude: 
    .git,
    */migrations,
    naso/settings.py,
    neural_architecture/management/commands/loadneuralutilities.py,
    */datasets,
    */__pycache__,
    auto_model/*,
    media,
    naso/static,
    venv

extend-ignore: E402, DJ08, E203, W291