absl-py
amqp
array-record
asgiref
astunparse
autokeras
billiard
black
cachetools
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
contourpy
crispy-bootstrap5
cycler
dj-database-url
Django
django-adminlte3
django-celery-results
django-crispy-forms
django-simple-history
dm-tree
etils
flake8
flatbuffers
fonttools
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
idna
importlib-resources
isort
keras
keras-core
keras-nlp
keras-tuner
kiwisolver
kombu
kt-legacy
libclang
loguru
Markdown
markdown-it-py
MarkupSafe
matplotlib
mccabe
mdurl
ml-dtypes
mypy-extensions
mysqlclient
namex
networkx
numpy
oauthlib
opt-einsum
packaging
pandas
pathspec
Pillow
platformdirs
promise
prompt-toolkit
protobuf
psutil
pyasn1
pyasn1-modules
pycodestyle
pyflakes
Pygments
pyparsing
python-dateutil
python-decouple
pytz
regex
requests
requests-oauthlib
rich
rsa
setuptools-scm
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-text
termcolor
toml
tqdm
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
wrapt
zipp
tensorflow-model-optimization
pylint
pylint-django